*{
    margin: 0px;
    padding: 0px;  
}
body{
    background-image: url(Screenshot_20230418-230457.jpg);
background-size: cover;
background-position: center;
height: 100vh;
min-height: 100px;
}
.nav-bar{
    background: rgb(29, 29,29);
    text-align: center;

}
ul{
    display: inline-flex;
    list-style: none;
    color: black;
}
ul li{
    width: 120px;
    margin: 7px;
    padding: 17px;

}
ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    padding: 11px 13px ;
    transition: 0.5s ease;
}
 ul li a:hover{
    background-color: #fff;
    color: #000;
    border-radius: 6px;

}
ul li.dev a{
    background-color: #fff;
    color: #000;


}





